@import "src/assets/scss/abstracts/abstracts";

.ui-button {
  width: 100%;
  font-family: $font_family_Inter;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-weight: 400;
  border: 1px solid;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  &:disabled {
    @include disableInputOpacity(0.2);
  }
  svg-icon {
    &.btn-svg {
      margin-right: 1rem;
    }
    width: 1.6rem;
    height: 1.6rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.reverse-direction {
    flex-direction: row-reverse;
    .btn-svg {
      margin-left: 1rem;
    }
  }

  &.small {
    padding: 1rem 2rem;
    font-weight: 400;
    .btn-text {
      font-size: 1.4rem;
    }
    svg-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &.medium {
    padding: 1.5rem 3rem;
    font-weight: 600;
    svg-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
    .btn-text {
      font-size: 1.6rem;
    }
  }
  &.large {
    padding: 2rem 3rem;
    font-weight: 700;
    svg-icon {
      width: 3rem;
      height: 3rem;
    }
    .btn-text {
      font-size: 2rem;
    }
  }

  &.round {
    border-radius: 2.8rem;
  }

  /* DEFAULT */
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  path {
    fill: #ffffff;
  }

  &.primary {
    background: #3f51b5;
    color: #ffffff;
    border-color: #ffffff;
    path {
      fill: #3f51b5;
    }
  }
}
