.column-group {
    .email  {
        width: 25rem;
    }
    .first_name   {
        width: 25rem;
    }
    .last_name   {
        width: 25rem;
    }
    .player_name  {
        width: 25rem;
    }
    .actions {
        width: 8rem;
    }
}