$blue-color: #176cb6;
$blue-color1: #446086;
$blue-color2: #0d5594;
$blue-color3: #005cc8;
$blue-color4: #0036b3;
$blue-color5: #6694e1;

$dark-blue-color: #284771;
$dark-blue-color-1: #1f2d40;
$dark-blue-color-2: #304562;
$dark-blue-color3: #1e2d40;

$dark-blue-color3: #202140;
$dark-blue-color4: #101937;

$light-blue-color: #64b5f6;
$light-blue-color3: #47bef7;
$light-blue-color4: #42ace0;
$light-blue-color5: #398cb8;
$light-blue-color5: #8fd5f7;
$light-blue-color6: #2396f2;
$light-blue-color7: #5ea7e4;
$light-blue-color8: #6684ad;

$black-color: #000000;
$black-color1: #17212e;

$font_family_Inter: "Inter", sans-serif;

$white-color: #ffffff;
$white-color1: #f5f5f5;
$white_color2: #c4c4c4;

$primary_black_color: #17212f;

$dark_gray_color: #9b9b9b;

$sidebar-width: 7rem;
$large_sidebar_width: 30rem;
$navbar-height: 6rem;
$mobile_navbar_height: 22rem;
$large_mobile_navbar_height: 35rem;
$savebar_height: 8rem;

$red-color: #e11e1e;

$primary-color-4: rgba(#203061, 0.03);
$primary-color-2: rgba(#203061, 0.2);
$light-gray-color-9: rgba(#2a303f, 0.4);

$small_sidebar_width: 8rem;
$large_sidebar_width: 32rem;
$navbar_height: 8rem;

/* FORM FIELDS */
$text_input_radius: 0.8rem;
$text_input_height: 6rem;
$text_input_padding: 0 1rem 0 1rem;
$text_input_padding_all: 1rem;
$program_chip: "PROGRAM_CHIP";
$off_white_chip: "OFF_WHITE_CHIP";


/* TO DO REMOVE */
$grey-color-3: #f4f5f7;
$primary-color: #203061;
$primary-color-light: #f5f7ff;
$reddish-orange-color: #f15e55;
$grey-color-11: #576b79;
$green-color-4: #629e51;
$green-color-5: #3bb54a;
$grey-color-22: #748093;
$dark-grey-color-3: #4d4e50;
$grey-color-23: #758598;
$reddish-color: #ff385c;



