<div class="sidebar" id="navSidebar" #sideBarContainer>
  <div class="sidebar__large" [ngClass]="{ 'sidebar__large--hide': isSmallSidebar }">
    <ul class="MT-2 sidebar-scroll">
      <li>
        <a [routerLink]="['/'+routeConstant.USER_LIST]" id="lnkPlayer" routerLinkActive="active">
          <mat-icon [svgIcon]="'menu'" [matTooltip]="'Users'"></mat-icon>
          <span *ngIf="!isSmallSidebar">Users</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/'+routeConstant.PLAYER_LIST]" id="lnkPlayer" routerLinkActive="active">
          <mat-icon [svgIcon]="'menu'" [matTooltip]="'Users'"></mat-icon>
          <span *ngIf="!isSmallSidebar">Players</span>
        </a>
      </li>
      <li>
        <a (click)="logout()" id="lnkLogout" routerLinkActive="active">
          <mat-icon [svgIcon]="'logout'" [matTooltip]="'Log Out'"></mat-icon>
          <span *ngIf="!isSmallSidebar">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- MAT DRAWER FOR SETTING -->
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #settingNav class="sidebar-drawer" position="end" hasBackdrop="false">
    <span (clickEvent)="settingNav.toggle()">HELLO</span>
    <!-- <app-setting-drawer (clickEvent)="settingNav.toggle()"></app-setting-drawer> -->
  </mat-drawer>
</mat-drawer-container>
<!-- end -->

<!-- student html start -->
<!-- <es-user-student-navbar *ngIf="userConfig.app_id === userType.STUDENT"></es-user-student-navbar> -->
<!-- end -->