<div class="signup-container auth-container">
  <div class="auth-box">
    <form [formGroup]="signupForm">
      <div class="row">
        <div class="col-md-12 auth">
          <div class="header-container">
            <h2 class="auth-header">{{ 'Register' }}</h2>
          </div>
          <div class="auth-form-container">
            <div class="auth-form">
              <div class="row form-field">
                <div class="col-md-6 PL-0">
                  <label>{{ 'First Name' }}</label>
                  <ui-input [formControlName]="signupFormFields.first_name"></ui-input>
                  <app-validation-error [control]="formControls[signupFormFields.first_name]"
                    [fieldName]="'First Name'"></app-validation-error>
                </div>
                <div class="col-md-6 PR-0">
                  <label>{{ 'Last Name' }}</label>
                  <ui-input [formControlName]="signupFormFields.last_name"></ui-input>
                  <app-validation-error [control]="formControls[signupFormFields.last_name]" [fieldName]="'Last Name' ">
                  </app-validation-error>
                </div>
              </div>
              <div class="form-field">
                <label>{{ 'User Name' }}</label>
                <ui-input [formControlName]="signupFormFields.user_name"></ui-input>
                <app-validation-error [control]="formControls[signupFormFields.user_name]" [fieldName]="'User Name' ">
                </app-validation-error>
              </div>
              <div class="row password-fields">
                <div class="col-md-6 PL-0">
                  <label>{{ 'Password' }}</label>
                  <ui-input [type]="'password'" [formControlName]="signupFormFields.password"></ui-input>
                  <app-validation-error [control]="formControls[signupFormFields.password]" [fieldName]="'Password' "
                    [minLengthCount]="8"></app-validation-error>
                </div>
                <div class="col-md-6 PR-0">
                  <label>{{ 'Confirm Password' }}</label>
                  <ui-input [type]="'password'" [formControlName]="signupFormFields.confirmPassword"></ui-input>
                  <app-validation-error *ngIf="signupForm?.errors?.['passwordMismatch'];else elseBlock"
                    [erroMsg]="'Password does not match'">
                  </app-validation-error>
                  <ng-template #elseBlock>
                    <app-validation-error [control]="formControls[signupFormFields.confirmPassword]"
                      [fieldName]="'Confirm Password' "></app-validation-error>
                  </ng-template>
                </div>
              </div>
              <div class="submit-section">
                <ui-button (onClick)="onSignup()" [buttonLabel]="'Create Account'"></ui-button>
              </div>
            </div>
            <div class="bottom-account-section">
              <label for="">{{ 'Have you account already ?' }}</label>
              <ui-button (onClick)="redirectToLogin()" [buttonLabel]="'Log In'"></ui-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>