<div class="forgot-password-container auth-container">
  <div class="auth-box">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
      <div class="row">
      <div class="col-md-12 auth">
        <div class="header-container">
          <!-- <img class="company-logo" src="assets/images/symbiotiq_logo_w.png" alt=""> -->
          <!-- <h2 class="auth-header">{{ 'common.general.catchLine'  }}</h2> -->
        </div>
        <div class="auth-form-container">
          <p class="welcome-label">{{ 'pages.reset-password.title'  }}</p>
          <div class="auth-form">
            <div class="form-field">
              <label>{{ 'common.email'  }}</label>
              <input type="email" [formControlName]="forgotPasswordFormFields.email"  class="form-control PTB-2">
              <app-validation-error [control]="formControls[forgotPasswordFormFields.email]"
              [fieldName]="'common.email' "></app-validation-error>
            </div>
            <div class="submit-section">
              <button type="submit" class="btn btn__PTB-2 submit-btn">{{
                'pages.reset-password.resetPassword'  }}</button>
            </div>
          </div>
        </div>
        <div class="swarm">
          {{ 'common.general.SWARM'  }}<br> <!--  <img src="assets/images/swarm.png" /> -->
        </div>
        <div class="copy-right-section row">
          <span class="copy-right">{{ 'common.general.copyright'  }}</span>
          <div class="right-text-section">
            <span class="cookie-policy">{{ 'common.general.cookiePolicy'  }}</span>
            <span class="terms">{{ 'common.general.privacyAndTerms'  }}</span>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
