@import "src/assets/scss/abstracts/abstracts";
.ui-number {
  border-radius: $text_input_radius;
  height: $text_input_height;
  padding: $text_input_padding;
  @include uiInputText($primary_black_color, $white-color);
  &:disabled {
    @include disableInputOpacity();
  }
}
