<div class="auth-container forgot-password-container">
  <div class="auth-box">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="row">
        <div class="col-md-12 auth">
          <div class="header-container">
            <!-- <img class="company-logo" src="assets/images/symbiotiq_logo_w.png" alt=""> -->
            <!-- <h2 class="auth-header">{{ 'common.general.catchLine'  }}</h2> -->
          </div>
          <div class="auth-form-container">
            <p class="welcome-label">{{ 'pages.reset-password.title'  }}</p>
            <div class="auth-form">
              <div class="form-field">
                <label>{{ 'common.password'  }}</label>
                <input type="password" [formControlName]="resetPasswordFormFields.password" class="form-control PTB-2">
                <app-validation-error [control]="formControls[resetPasswordFormFields.password]"
                [minLengthCount]="8" [fieldName]="'common.password' "></app-validation-error>
              </div>
              <div class="form-field">
                <label>{{ 'common.confirmPassword'  }}</label>
                <input type="password" [formControlName]="resetPasswordFormFields.confirmPassword"
                  class="form-control PTB-2">
                <app-validation-error *ngIf="resetPasswordForm?.errors?.['passwordMismatch'];else elseBlock"
                  [erroMsg]="'Password does not match'">
                </app-validation-error>
                <ng-template #elseBlock>
                  <app-validation-error [control]="formControls[resetPasswordFormFields.confirmPassword]"
                    [fieldName]="'common.confirmPassword' "></app-validation-error>
                </ng-template>
              </div>
              <div class="form-field">
                <label>{{ 'pages.signup.confirmation.verificationCode'  }}</label>
                <input type="text" placeholder="Numerical code" class="form-control PTB-2" id="txtcode" name="txtcode"
                  [formControlName]="resetPasswordFormFields.validationCode">
                <app-validation-error [control]="formControls[resetPasswordFormFields.validationCode]"
                  [fieldName]="'pages.signup.confirmation.verificationCode' ">
                </app-validation-error>
              </div>
              <div class="submit-section">
                <!-- <div role="alert" class="alert alert-danger" *ngIf="error">
                  <strong>{{ 'common.error'  }} : </strong>{{error}}
                </div> -->
                <button class="btn btn__PTB-2 submit-btn">
                  {{ 'pages.reset-password.resetPassword' }}</button>
              </div>
            </div>
          </div>
          <div class="swarm">
            {{ 'common.general.SWARM'  }}<br> <!--  <img src="assets/images/swarm.png" /> -->
          </div>
          <div class="copy-right-section row">
            <span class="copy-right">{{ 'common.general.copyright'  }}</span>
            <div class="right-text-section">
              <span class="cookie-policy">{{ 'common.general.cookiePolicy'  }}</span>
              <span class="terms">{{ 'common.general.privacyAndTerms'  }}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
