<div class="user-list-section list-layout-section">
    <div class="row">
        <div class="col-md-12 user-list  table-list">
            <p-table #userTable (sortFunction)="customSort($event)" [customSort]="true" [value]="userList"
                [columns]="columnsArray">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup class="column-group">
                        <col [class]="col.columnName" *ngFor="let col of columns">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="th-{{column.columnName}}"
                            [pSortableColumnDisabled]="[columnNames.actions].includes(column.columnName)"
                            [pSortableColumn]="column.columnName" *ngFor="let column of columnsArray">
                            <div class="td-div">
                                <span>{{column.displayName}}</span>
                                <p-sortIcon *ngIf="![columnNames.actions].includes(column.columnName)"
                                    [field]="column.columnName"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.columnName">
                                <div class="td-{{columnNames.actions}}" *ngSwitchCase="columnNames.actions">
                                    <mat-icon (click)="openUserModal(user[col.id])" [matTooltip]="'Edit'" [color]="'primary'" class="edit-icon">edit</mat-icon>
                                    <mat-icon [matTooltip]="'Delete'" [color]="'warn'" class="delete-icon">delete</mat-icon>
                                </div>
                                <div class="td-{{col.columnName}}" *ngSwitchDefault>
                                    {{user[col.columnName]}}
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>